body {
    background-color: black;
}

h1 {
    text-align: center;
    color: #fff;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #2196F3;
    padding: 10px;
    color: white;
}
.grid-item {
    background-color: #152C3F;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 23px;
    text-align: center;
}

.grid-item img{
    width: 390px;
    height: 200px;
} 

/* .grid-item img{
    width: 390px;
    height: 200px;
}  */
